<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Header</title>

</head>
<body>
<header th:fragment="a_header">
    <h1>Admin Dashboard</h1>
    <div class="auth-buttons">
        <a href="/">메인으로 가기</a>
    </div>
    <nav>
        <ul>
            <li><a href="/admin">User Management</a></li>
            <li><a href="/admin/businesses">Business Management</a></li>
            <li><a href="/admin/products">Product Management</a></li>
        </ul>
    </nav>
</header>

</body>
</html>
