<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Business Header</title>
    <link rel="stylesheet" href="/header.css">
</head>
<body>
<header th:fragment="business-header">
    <h1>Didle Business Dashboard</h1>
    <div id="auth-section" class="auth-buttons">
        <span th:text="${session.businessName} + '님 환영합니다!'"></span>
<!--        <button onclick="logout()">Logout</button>-->
        <button onclick="switchToUserMode()">유저 모드 전환</button>
    </div>
    <nav>
        <ul>
            <li><a href="/business">Dashboard</a></li>
            <li><a href="/business/profile">Business Profile</a></li>
            <li><a href="/business/products">My Products</a></li>
            <li><a href="/business/orders">Orders</a></li>
        </ul>
    </nav>
</header>
<script src="/logout.js"></script>
</body>
</html>
