<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Header</title>

</head>
<body>
<header th:fragment="header">
  <h1>D-idle Shop by hogeun</h1>
  <div id="auth-section" class="auth-buttons">
    <th:block th:if="${session.userId != null}">
      <span th:text="${session.username} + '님 환영합니다!'"></span>
      <th:block th:if="${session.userType.toString() == 'CUSTOMER'}">
        <a href="/business-register">기업으로 회원가입</a>
      </th:block>
      <th:block th:if="${session.userType.toString() == 'BUSINESS'}">
        <a href="/business">기업 모드 전환</a>
      </th:block>
      <th:block th:if="${session.userType.toString() == 'ADMIN'}">
        <a href="/admin">관리자 페이지</a>
      </th:block>
      <button onclick="logout()">Logout</button>
    </th:block>
    <th:block th:unless="${session.userId != null}">
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </th:block>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/orders">Orders</a></li>
    </ul>
  </nav>
</header>
</body>
</html>
