@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SBAggroB', sans-serif;
}

.navbar {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    padding: 20px 30px;
}

.navbar-brand img {
    width: 150px;
    height: 50px;
    margin-right: 15px;
}

.navbar-brand {
    color: #4677EA;
    font-size: 2rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
    color: #4677EA;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 15px;
}

.nav-link:hover {
    color: #ffffff;
    background-color: #6A92F2;
}

.nav-link.active {
    color: #ffffff !important;
    background-color: #6A92F2;
    font-weight: bold;
    border-radius: 5px;
}

.auth-buttons a, .auth-buttons button {
    margin-left: 10px;
    border-radius: 20px;
    background-color: #4677EA;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.auth-buttons a:hover, .auth-buttons button:hover {
    background-color: #6A92F2;
    color: #ffffff;
}

.dropdown-menu {
    background-color: #ffffff;
    border-radius: 10px;
}

.dropdown-menu a {
    color: #4677EA;
}

.dropdown-menu a:hover {
    background-color: #E6EDFD;
}
