<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Header</title>
</head>
<body>
<header th:fragment="a_header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/admin">
                <img src="/img/logo2.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/businesses">Business</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/products">Product</a>
                    </li>
                </ul>
                <div class="auth-buttons">
                    <a href="/" onclick="switchToUserMode()">메인으로 가기</a>
                    <button onclick="logout()" class="btn btn-outline-dark btn-sm">Logout</button>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
