<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:fragment="chatbot" id="chatbotContainer" class="chatbot-container">
    <button id="chatbotToggle" class="chatbot-toggle-btn">챗봇 열기</button>
    <div class="chatbot-window">
        <div class="chatbot-header">
            <div class="chatbot-avatar">B</div>
            <span>고객센터 챗봇</span>
            <!-- X 버튼 -->
            <button class="chatbot-close-btn">×</button>
        </div>
        <div id="webchat" class="chatbot-body"></div>
    </div>
</div>
</html>

